@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

@import 'font';

@import 'indexed_search';
@import 'language_menu';
@import 'meta_menu';
@import 'akkordion';
@import 'ce_tables';
@import 'forms';
@import 'social_icons';

body {
    background-color: $primary;
    color: $fontcolor;

    @include fontRegular;

    a {
        text-decoration: none;
        color: $fontcolor;
    }
}