ul.icons {
    list-style: none;
    display: inline-block;
    padding-left: 0;

    li {
        float: left;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}


@mixin social-icon {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;

    &:before {
        content: '';
        position: absolute;
        
        width: 30px;
        height: 30px;
    }
}

.icon-instagram {
    @include social-icon;

    &:before {
        background-image: url($uploadPath + 'social-icons/instagram.svg');
    }
}

.icon-github {
    @include social-icon;

    &:before {
        background-image: url($uploadPath + 'social-icons/github.svg');
    }
}