/*
 *************************************************************************
 **                               Paths                                 **
 *************************************************************************
*/
$imgPath: '/typo3conf/ext/aisteacorp/Resources/Public/Images/';
$fontPath: '/typo3conf/ext/aisteacorp/Resources/Public/WebFonts/';
$uploadPath: '/fileadmin/user_upload/';

//COLORS

$primary: #0e0e0e;
$secondary: #292929;

$fontcolor: white;