/*
 *************************************************************************
 **                               Paths                                 **
 *************************************************************************
*/
$imgPath: '/typo3conf/ext/hive_thm_custom/Resources/Public/Images/';
$fontPath: '/typo3conf/ext/hive_thm_custom/Resources/Public/Webfonts/';
$uploadPath: '/fileadmin/user_upload/';